h1 {
    color: green;
}

li {
    color: blue;
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
}

#home {
    background-color: yellow;
    border: 10px solid green;
    margin:20px;
    padding: 200px 100px 50px 200px;
}